<div class='main-nav'>
    <div class='navbar navbar-inverse'>
        <div class='navbar-header'>
            <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse' [attr.aria-expanded]='isExpanded' (click)='toggle()'>
                <span class='sr-only'>Toggle navigation</span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </button>
            <a class='navbar-brand' [routerLink]='["/"]'>Les Nomenclatures</a>
        </div>
        <div class='clearfix'></div>
        <div class='navbar-collapse collapse' [ngClass]='{ "in": isExpanded }'>
            <ul class='nav navbar-nav'>
                <li [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
                    <a [routerLink]='["/nomenclatures"]' (click)='collapse()'>
                        <span class='glyphicon glyphicon-home'></span> Nomenclatures
                    </a>
                </li>
                <li [routerLinkActive]='["link-active"]'>
                    <a [routerLink]='["/about"]' (click)='collapse()'>
                        <span class='glyphicon glyphicon-th-list'></span> A propos
                    </a>
                </li>
            </ul>
        </div>
        <div class="section-nomenclature-details">
            <h3>Détails de la nomenclature</h3>
            <nomenclature-details [data]="nomenDetails"></nomenclature-details>
        </div>
    </div>
</div>
