<div *ngIf="nomenDetails" class="nomenclature-details">
    <b>Codification</b>
    <span>{{ nomenDetails.code }}</span>
    <b>Désignation</b>
    <span>{{ nomenDetails.description }}</span>
    <b>Date de début</b>
    <span>{{ nomenDetails.dateDebut | date:'dd/MM/y' }}</span>
    <b>Date de fin</b>
    <span>{{ nomenDetails.dateFin | date:'dd/MM/y' }}</span>
    <b>USTA</b>
    <span>{{ nomenDetails.usta }}</span>
    <b>USPE</b>
    <span>{{ nomenDetails.uspe }}</span>
</div>
<div *ngIf="!nomenDetails" class="empty">
    <span>Veuillez sélectionner une nomenclature.</span>
</div>