<div class="nomenclatures-container container-fluid">
    <div class="nomenclatures-search">
        <input #searchInput (keyup)="onInputChange(searchInput.value)"class="input" placeholder="Rechercher par code"/>
    </div>
    <div class="nomenclatures-selection">
        <h4>Nomenclatures sélectionnées : {{ nomenclatureSelectedIds.length }}</h4>
    </div>

    <ul class="container-fluid nomenclatures-list">
        <li class="row">
            <span class="col-sm-1 checkbox-cell"></span>
            <span class="col-sm-2 clickable" (click)="toogleSort()"><b>Codification</b>
                <span class="glyphicon" [class.glyphicon-chevron-up]="isSortASC" [class.glyphicon-chevron-down]="!isSortASC"></span>
            </span>
            <span class="col-sm-9 clickable"><b>Désignation</b></span>
        </li>

        <div class="scrollable" scrollable (trigger)="loadMore()" [triggerPercent]="0.9">
            <li *ngFor="let nomenclature of nomenclatures" (click)="select(nomenclature)" [class.clickable]="nomenclature.isLeaf" [class.selected]="nomenclature.isSelected" class="row">
                <span class="col-sm-1 checkbox-cell">
                    <input *ngIf="nomenclature.isLeaf" type="checkbox" [checked]="nomenclature.isSelected" />
                </span>
                <span class="col-sm-2">
                    <a (click)="setDetails(nomenclature.id)">{{ nomenclature.code }}</a>
                </span>
                <span class="col-sm-9">{{ nomenclature.description }}</span>
            </li>
        </div>
    </ul>
</div>