.clickable {
    cursor: pointer;
}

.input {
    font-size: 2rem;
    border: none;
    border-bottom: 1px solid rgba(0, 172, 0, 0.63);
    &:focus {
        outline: none;
    }
}

.nomenclatures-container {
    padding-top: 2rem;

    .nomenclatures-search {
        margin-bottom: 2rem;
    }

    .nomenclatures-list {
        list-style-type: none;
        padding: 0;

        .scrollable {
            max-height: 600px;
            overflow-y: auto;
            overflow-x: hidden;
        }
    }
    
    .row {
        min-height: 2rem;
        border-bottom: 1px solid #d6d6d6;
    
        &.clickable:hover {
            background-color: #e7f0f5;
        }
    }
    
    .checkbox-cell {
        display: flex;
        justify-content: center;
    }
}